<div class="jumbotron">
	<h1 class="text-center">{:C('site.name')} 管理系统</h1>
</div>
<div class="content">

	<form action="__SELF__" class="form-inline text-center" method="post">
		<label for="username">账号</label>
		<input type="text" name="username" class="form-control" id="username" required>
		<label for="password">密码</label>
		<input type="password" name="password" class="form-control" id="password" required>
		<button class="btn btn-primary">登录</button>
		<button class="btn btn-default" type="reset">重置</button>
	</form>
</div>