<div class="container">
	<h1>友情链接</h1>
	<p>
		<a href="{:U('admin/link/add')}" class="btn btn-primary">添加</a>
	</p>
	<div class="table-responsive">
		<table class="table table-bordered">
			<tr>
				<td>名称</td>
				<td>链接</td>
				<td>排序</td>
				<td>状态</td>
				<td>操作</td>
			</tr>
			<volist name="list" id="item">
				<tr>
					<td>{$item.name}</td>
					<td><a href="{$item.link}" target="_blank">{$item.link}</a></td>
					<td>{$item.sort}</td>
					<td>
						<eq name="item.status" value="1">
							<span class="label label-success">显示</span>
							<else/>
							<span class="label label-default">不显示</span>
						</eq>
					</td>
					<td>
						<a href="{:U('admin/link/edit?id='.$item['linkId'])}">编辑</a>
						<a href="{:U('admin/link/delete?id='.$item['linkId'])}" onclick="return confirm('确定删除吗?')">删除</a>
					</td>
				</tr>
			</volist>
		</table>
	</div>
	{$page}
</div>