<form class="am-form am-container" action="__SELF__" method="post">
    <fieldset>
        <legend>登录</legend>
        <div class="am-form-group">
            <label for="username">用户名</label>
            <input type="text" name="username" id="username" maxlength="20" required>
        </div>
        <div class="am-form-group">
            <label for="password">密码</label>
            <input type="password" name="password" id="password" required>
        </div>
        <p>
            <button type="submit" class="am-btn am-btn-primary">登录</button>
        </p>
    </fieldset>
</form>