<form class="am-form am-container" action="__SELF__" method="post">
    <fieldset>
        <legend>注册</legend>
        <div class="am-form-group">
            <label for="username">用户名</label>
            <input type="text" name="username" id="username" placeholder="请输入用户名，20字以内" maxlength="20" required>
        </div>
        <div class="am-form-group">
            <label for="password">密码</label>
            <input type="password" name="password" id="password" placeholder="请输入密码" required>
        </div>
        <div class="am-form-group">
            <label for="repassword">确认密码</label>
            <input type="password" name="repassword" id="repassword" placeholder="请再次输入密码" required>
        </div>
        <div class="am-form-group">
            <label for="nickname">昵称</label>
            <input type="text" name="nickname" id="nickname" placeholder="请输入昵称、10字以内" maxlength="10" required>
        </div>
        <p>
            <button type="submit" class="am-btn am-btn-primary">注册</button>
        </p>
    </fieldset>
</form>