html > * {
  font-family: "Consolas", "Microsoft Yahei", Arial, monospace;
  font-size: 14px;
}
body {
  padding-top: 60px;
  background: #eeeeee;
}
.navbar-inverse {
  background: #4a4a4a;
}
.navbar-inverse .navbar-nav > li > a {
  color: #EEEEEE;
}
.navbar-inverse .navbar-brand {
  color: #EEEEEE;
}
.text-muted {
  color: #999;
}
