<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{:C('site.name')}</title>
	<link href="__VENDOR__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="__CSS__/login.css">
	<!--[if lt IE 9]>
	<script src="__VENDOR__/compatible/html5shiv.min.js"></script>
	<script src="__VENDOR__/compatible/respond.js"></script>
	<![endif]-->
	<script src="__VENDOR__/jquery.min.js"></script>
</head>
<body>
{__CONTENT__}
<script src="__VENDOR__/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>