<ol class="breadcrumb">
	<li><a href="{:U('/')}">首页</a></li>
	<li class="active">{$category.name}</li>
</ol>
<div class="panel panel-default">
	<div class="panel-heading">【{$category.name}】分类下文章</div>
	<div class="panel-body">
		<volist name="list" id="article">
			<div class="media">
				<div class="media-left">
					<a href="{:U('/index/article',array('id'=>$article['articleId']))}">
						<eq name="article.image|empty" value="0">
							<img class="media-object" src="{$article.image}" alt="{$article.title}">
						</eq>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<a href="{:U('/index/article',array('id'=>$article['articleId']))}">
							{$article.title}
						</a>
					</h4>
					<div class="text-muted">
						<i class="glyphicon glyphicon-time"></i> {$article.createdAt|date='m-d',###}
						<i class="glyphicon glyphicon-fire"></i> {$article.hits}
						<i class="glyphicon glyphicon-list"></i> <a class="text-muted" href="{:U('/index/category',array('id'=>$article['categoryId']))}">{$article.name}</a>
					</div>
					{$article.description}
				</div>
			</div>
		</volist>
	</div>
</div>
{$page}