.white {
  color: white !important;
}
body {
  background: url("../images/bg_site.jpg") repeat;
}
.site-index .board-list .board {
  margin-bottom: 4px;
  display: inline-block;
  width: 33%;
  background: white;
  padding: 12px;
  border-radius: 4px;
}
.site-index .board-list .board .icon {
  width: 96px;
  height: 96px;
  display: inline-block;
  vertical-align: top;
}
.site-index .board-list .board .name {
  margin-left: 8px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #8486bd;
}
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
