<div class="container">
	<h1>
		<empty name="data">
			添加分类
			<else/>
			编辑分类
		</empty>
	</h1>
	<form action="__SELF__" class="form-horizontal" method="post">
		<div class="form-group">
			<label for="name" class="control-label col-md-1">分类名称</label>
			<div class="col-md-4">
				<input type="text" name="name" id="name" value="{$data.name}" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<label for="sort" class="control-label col-md-1">排序</label>
			<div class="col-md-4">
				<input type="number" name="sort" id="sort" value="{$data.sort}" class="form-control" placeholder="数字越大排序越靠前">
			</div>
		</div>
		<div class="form-group">
			<label for="sort" class="control-label col-md-1">导航栏</label>
			<div class="col-md-4">
				<label>
					<eq name="data.isNav" value="1">
						<input type="checkbox" name="isNav" value="1" checked>
						<else/>
						<input type="checkbox" name="isNav" value="1">
					</eq>
					显示在导航栏
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 col-md-offset-1">
				<button class="btn btn-primary">保存</button>
			</div>
		</div>
	</form>
</div>