<form class="am-form am-container" action="__SELF__" method="post">
    <fieldset>
        <legend>编辑用户</legend>
        <div class="am-form-group">
            <label for="nickname">昵称</label>
            <input type="text" name="nickname" id="nickname" maxlength="20" value="{$user.nickname}" required>
        </div>
        <div class="am-form-group">
            <label for="password">密码</label>
            <input type="text" name="password" id="password" maxlength="20" placeholder="不修改请留空">
        </div>
        <div class="am-form-group">
            <label for="score">积分</label>
            <input type="text" name="score" id="score" maxlength="20" value="{$user.score}" required>
        </div>
        <p>
            <button type="submit" class="am-btn am-btn-primary">提交</button>
        </p>
    </fieldset>
</form>