<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$pageTitle}</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{:C('site.name')}"/>


    <link rel="stylesheet" href="__PUBLIC__/vendor/amazeui/css/amazeui.flat.min.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">
</head>
<body>
<header class="am-topbar">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="{:U('/admin')}">{:C('site.name')}</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">

            </ul>

            <div class="am-topbar-right">
                <empty name="Think.session.user">
                    <a href="{:U('auth/logout')}" class="am-btn am-btn-default am-topbar-btn am-btn-sm">退出登录</a>
                </empty>
            </div>
        </div>
    </div>
</header>
{__CONTENT__}
<script src="__PUBLIC__/vendor/jquery.min.js"></script>
<script src="__PUBLIC__/vendor/amazeui/js/amazeui.min.js"></script>
</body>
</html>