<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{:C('site.name')}</title>
	<link href="__VENDOR__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="__CSS__/site.css">
	<!--[if lt IE 9]>
	<script src="__VENDOR__/compatible/html5shiv.min.js"></script>
	<script src="__VENDOR__/compatible/respond.js"></script>
	<![endif]-->
	<script src="__VENDOR__/jquery.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand hidden-sm" href="{:U('/')}">{:C('site.name')}</a>
		</div>
		<div class="navbar-collapse collapse" role="navigation">
			<ul class="nav navbar-nav">
				<php>
					$categories = getCategory(1);
				</php>
				<volist name="categories" id="category">
					<li><a href="{:U('/index/category',array('id'=>$category['categoryId']))}">{$category.name}</a></li>
				</volist>
			</ul>
		</div>
	</div>
</div>
<section class="container">
	<div class="col-md-9">
		{__CONTENT__}
	</div>
	<div class="col-md-3 hidden-xs">
		<div class="panel panel-default">
			<div class="panel-heading">所有分类</div>
			<div class="panel-body">
				<div class="row">
					<php>
						$categories2 = getCategory();
					</php>
					<volist name="categories2" id="category">
						<div class="col-md-6">
							<a href="{:U('/index/category',array('id'=>$category['categoryId']))}">{$category.name}</a>
							<small class="text-muted">({$category.total})</small>
						</div>
					</volist>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">友情链接</div>
			<div class="panel-body">
				<php>
					$links = getLinks();
				</php>
				<volist name="links" id="item">
					<a href="{$item.link}" target="_blank">{$item.name}</a>
				</volist>
			</div>
		</div>
	</div>
</section>
<script src="__VENDOR__/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>